argh==0.26.2
arrow==0.13.1
asn1crypto==0.24.0
astroid==2.2.5
bcrypt==3.1.6
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
coverage==4.5.3
cryptography==2.6.1
cx-Oracle==7.1.3
Django==2.1.7
django-db-connection-pool==1.0.1
django-environ==0.4.5
django-mysql==3.0.0.post1
django-ranged-response==0.2.0
django-simple-captcha==0.5.10
djangorestframework==3.9.2
factory-boy==2.11.1
Faker==1.0.4
idna==2.8
ipfsapi==0.4.3
isort==4.3.15
lazy-object-proxy==1.3.1
mccabe==0.6.1
meld3==1.0.2
mysqlclient==1.4.2.post1
Naked==0.1.31
newrelic==5.2.3.131
pathtools==0.1.2
Pillow==5.4.1
pycodestyle==2.5.0
pycparser==2.19
pycrypto==2.6.1
pylint==2.3.1
PyMySQL==0.9.3
pyOpenSSL==19.0.0
python-dateutil==2.8.0
python-memcached==1.59
pytz==2018.9
PyYAML==5.1
requests==2.21.0
requests-pkcs12==1.6
#selenium==3.141.0
shellescape==3.4.1
six==1.12.0
SQLAlchemy==1.3.3
text-unidecode==1.2
typed-ast==1.3.1
urllib3
uWSGI==2.0.18
watchdog==0.9.0
wrapt==1.11.1
redispy==3.0.0
#responses==0.13.3

